.ds_box {
background-color: #075FA9;
border: 1px solid #000;
}

.ds_tbl 
{
background-color: #FFF;
}

.ds_head {
	background-color:#FFF0F5;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
}

.ds_subhead {
	background-color: #D8BFD8;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	width: 32px;
}

.ds_cell {
	background-color: #EE82EE;
	color: #000;
	font-size: 13px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
	cursor: pointer;
}
.ds_cell_ndp {
	background-color: #FFE4C4;
	color: #000;
	font-size: 13px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;	
	pointer-events: none;
    cursor: default;
}

.ds_nodisp
{
background-color: #EDEDED;
	color: #000;
	font-size: 13px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
	cursor: pointer;

}
.ds_cell:hover {
	background-color: #FFE4E1;
} 