h2{
	font-family: Georgia;
	font-style: italic;
	font-size: 16px;	
	color: #333333;
	padding-bottom: 5px;
	color:white;
}

li{
	list-style: none;	
}

#wrapper{
	margin: 0px auto;
	text-align: left;
	width: 960px;
}



#paging_container3{
	height: 900px;
	width: 900px;
	background-color: transparent;
}
.ellipse{
	float: left;
}

.container{
	width: 260px;
	float: left;
	margin: 50px 10px 10px;
	padding: 20px;
	background-color: white;
}

.page_navigation , .alt_page_navigation{
	padding-bottom: 10px;
}

.page_navigation a, .alt_page_navigation a{
	padding:3px 5px;
	margin:2px;
	color:white;
	text-decoration:none;
	float: left;
	font-family: Tahoma;
	font-size: 12px;
	background-color:#ae81aa;
}
.active_page{
	background-color:white !important;
	color:black !important;
}	

.content, .alt_content{
	color: black;
}

.content li, .alt_content li, .content 1> p{
	padding: 5px;
}
.img-rounded img-indent
{
float:top-left;
}
h4
{
clear:both;
float:left;
}
p
{
text-align:justify;
clear: both;
}

